<!-- post list -->
<h2>Hi, my name is Cédric. And I'm passionate about code, data & design.</h2>
<b style='font-size:1.25em;line-height:.75;'><br>As an <b class='simple-highlight-grn'>information designer and data scientist</b>, I support people to effectively communicate data —  with confidence, clarity, and creativity.</b><br><br>
<span class='highlight'>
  <a href="https://cedricscherer.com/top/about"><span style='font-family:Canicule Display;'>&nbsp;&rarr;&nbsp;&nbsp;</span>Read more about me&emsp;</a><a href="https://calendly.com/cedricscherer/lets-meet" target="_blank"><span style='font-family:Canicule Display;'>&nbsp;&rarr;&nbsp;&nbsp;</span>Schedule a discovery call</a>
</span><br><br>
<div class='highlightbox'>
  <span class='highlight'>Want to master data visualization in the era of AI?<br>
  <a href="https://www.ggplot2-uncharted.com" target="_blank">Take our interactive online course "ggplot2 uncharted"!</a></span>
</div>
<hr>
{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">
            {{ .Title }}
        </h2>
	{{with .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ . }}
        </h3>
	{{ end }}
        <div class="post-content-preview">
	{{ with .Description }}
            {{ . }}
        {{ else }}
            {{ .Summary}}
       {{ end }}
        </div>
    </a>
    <p class="post-meta">
     <!-- Posted by {{ with .Params.author }}{{ . }} • {{ else }}{{ .Site.Title }}{{ end }} {{ .Date.Format "Monday, January 2, 2006" }} -->
     {{ .Date.Format "Monday • January 2, 2006" }} 
    </p>
</div>
<hr>
{{ end }}