<!-- post list -->
<h2>Hi, I am Cédric 👋</h2>
<span class='emphasize'>Data Visualization Designer, Consultant and Instructor for Engaging and Effective Graphical Storytelling.</span><br><br>
<span class='highlight'>
  <a href="https://cedricscherer.com/top/about">Read more about me</a>&ensp;•&ensp;<a href="https://calendly.com/cedricscherer/lets-meet" target="_blank">Schedule a discovery call</a>
</span><br><br>
<hr>
{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">
            {{ .Title }}
        </h2>
	{{with .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ . }}
        </h3>
	{{ end }}
        <div class="post-content-preview">
	{{ with .Description }}
            {{ . }}
        {{ else }}
            {{ .Summary}}
       {{ end }}
        </div>
    </a>
    <p class="post-meta">
     <!-- Posted by {{ with .Params.author }}{{ . }} • {{ else }}{{ .Site.Title }}{{ end }} {{ .Date.Format "Monday, January 2, 2006" }} -->
     {{ .Date.Format "Monday • January 2, 2006" }} 
    </p>
</div>
<hr>
{{ end }}