<!-- post list -->
<h2>Hi, my name is Cédric.<br>And I'm in Love with Data & Design.</h2>
<span style='font-size:1.3em;line-height:.8;'><br>As a consultant, designer, and instructor, I specialize in helping organizations, research teams, and businesses effectively communicate data through engaging visualizations.</span><br><br>
<span class='highlight'>
  <a href="https://cedricscherer.com/top/about"><span style='font-family:Canicule Display;'>&nbsp;&rarr;&nbsp;&nbsp;</span>Read more about me&emsp;</a><a href="https://calendly.com/cedricscherer/lets-meet" target="_blank"><span style='font-family:Canicule Display;'>&nbsp;&rarr;&nbsp;&nbsp;</span>Schedule a discovery call</a>
</span><br><br><br>
<hr>
{{ range $index, $element := $.Paginator.Pages }}
<div class="post-preview">
    <a href="{{ .Permalink }}">
        <h2 class="post-title">
            {{ .Title }}
        </h2>
	{{with .Params.subtitle }}
        <h3 class="post-subtitle">
            {{ . }}
        </h3>
	{{ end }}
        <div class="post-content-preview">
	{{ with .Description }}
            {{ . }}
        {{ else }}
            {{ .Summary}}
       {{ end }}
        </div>
    </a>
    <p class="post-meta">
     <!-- Posted by {{ with .Params.author }}{{ . }} • {{ else }}{{ .Site.Title }}{{ end }} {{ .Date.Format "Monday, January 2, 2006" }} -->
     {{ .Date.Format "Monday • January 2, 2006" }} 
    </p>
</div>
<hr>
{{ end }}