@import url("//hello.myfonts.net/count/3fcf92");

@font-face {
  font-family: "Thrillers SemiBold";
  src: url('../fonts/ThrillersSemiBold/font.woff2') format('woff2'), url('../fonts/ThrillersSemiBold/font.woff') format('woff');
}
@font-face {
  font-family: "Thrillers Medium";
  src: url('../fonts/ThrillersMedium/font.woff2') format('woff2'), url('../fonts/ThrillersMedium/font.woff') format('woff');
}
@font-face {
  font-family: "Thrillers Regular";
  src: url('../fonts/ThrillersRegular/font.woff2') format('woff2'), url('../fonts/ThrillersRegular/font.woff') format('woff');
}
@font-face {
  font-family: "Thrillers Black";
  src: url('../fonts/ThrillersBlack/font.woff2') format('woff2'), url('../fonts/ThrillersBlack/font.woff') format('woff');
}
@font-face {
  font-family: "Thrillers Light";
  src: url('../fonts/ThrillersLight/font.woff2') format('woff2'), url('../fonts/ThrillersLight/font.woff') format('woff');
}
@font-face {
  font-family: "Thrillers Bold";
  src: url('../fonts/ThrillersBold/font.woff2') format('woff2'), url('../fonts/ThrillersBold/font.woff') format('woff');
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('../fonts/CabinetGroteskRegular/Cabinet rotesk-Regular.woff2') format('woff2'), url('../fonts/CabinetGroteskRegular/CabinetGrotesk-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Cabinet Grotesk';
  src: url('../fonts/CabinetGroteskMedium/CabinetGrotesk-Medium.woff2') format('woff2'), url('../fonts/CabinetGroteskMedium/CabinetGrotesk-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('../fonts/CabinetGroteskBold/CabinetGrotesk-Bold.woff2') format('woff2'), url('../fonts/CabinetGroteskBold/CabinetGrotesk-Bold.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('../fonts/CabinetGroteskExtraBold/CabinetGrotesk-ExtraBold.woff2') format('woff2'), url('../fonts/CabinetGroteskExtraBold/CabinetGrotesk-ExtraBold.woff') format('woff');
    font-weight: 800;
}
@font-face {
    font-family: 'Cabinet Grotesk';
    src: url('../fonts/CabinetGroteskBlack/CabinetGrotesk-Black.woff2') format('woff2'), url('../fonts/CabinetGroteskBlack/CabinetGrotesk-Black.woff') format('woff');
    font-weight: 900;
}
@font-face {
    font-family: 'Input Mono';
    src: url("../fonts/InputMono-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Input Mono';
    src: url("../fonts/InputMono-Bold.ttf") format("truetype");
    font-weight:bold;
}
@font-face {
    font-family: 'Input Mono';
    src: url("../fonts/InputMono-Italic.ttf") format("truetype");
    font-style: italic;
}
@font-face {
    font-family: 'Input Mono Condensed';
    src: url("../fonts/InputMonoCondensed-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Input Mono Condensed';
    src: url("../fonts/InputMonoCondensed-Bold.ttf") format("truetype");
    font-weight:bold;
}
@font-face {
    font-family: 'Input Mono Condensed';
    src: url("../fonts/InputMonoCondensed-Italic.ttf") format("truetype");
    font-style: italic;
}
@font-face {
    font-family: 'Input Sans';
    src: url("../fonts/InputSansCondensed-Light.ttf") format("truetype");
}
@font-face {
    font-family: 'Input Sans';
    src: url("../fonts/InputSans-Medium.ttf") format("truetype");
    font-weight:bold;
}
@font-face {
    font-family: 'Input Sans';
    src: url("../fonts/InputSansCondensed-LightItalic.ttf") format("truetype");
    font-style: italic;
}

.sidebar-container{
  color:#676767;
  font-size:13px
}
.sidebar-container h6{
  color:gray;
  font-size:26px;
  padding-top:.7em;
}
.sidebar-container h6 a{
  color:gray!important;
  text-decoration:none
}
.sidebar-container a{
  color:#8a8a8a!important
}
.sidebar-container a:hover,.sidebar-container a:active{
  color:#28a87d!important
}
.sidebar-container .tags a{
  border-color:#8a8a8a;
  font-size:1.2rem;
  margin-right:1px;
  margin-bottom:3px;
}
.sidebar-container .tags a:hover,.sidebar-container .tags a:active{
  border-color:#28a87d
}
.sidebar-container .short-about img{
  width:90%;
  display:block;
  border-radius:5px;
  margin-bottom:20px
}
.sidebar-container .short-about p{
  font-size:1.5rem;
  margin-top:0;
  margin-bottom:20px
}
.sidebar-container .short-about .list-inline>li{
  padding-left:0;
  margin-right:-4px;
}

@media (min-width:1200px){
  .post-container,.sidebar-container{
    padding-right:5%;
  }
  .sidebar-container h6{
    padding-top:0em;
  }
}
@media (min-width:768px){
  .post-container{
    padding-right:5%
  }
}

body{
  font-family:'Cabinet Grotesk','Georgia','Times New Roman','Times','Times-Roman',serif,-apple-system;
  line-height:1.8;
  font-size:2.05rem;
  font-weight:400;
  color:#000;
  overflow-x:hidden
}

@media only screen and (min-width:768px){
  body{
    font-size:2rem;
  }
}

p{
  margin:30px 0;
}

h1{
  font-family:'Thrillers Black','Arial Black','Arial','Helvetica',sans-serif,-apple-system;
  line-height:1.1;
  text-transform: uppercase;
}
h2,h3{
  font-family:'Thrillers SemiBold','Arial Black','Arial','Helvetica',sans-serif,-apple-system;
  line-height:1.1;
}
h4{
  font-family:'Thrillers Medium','Arial Black','Arial','Helvetica',sans-serif,-apple-system;
  line-height:1.1;
}
h5{
  font-family:'Thrillers Regular','Arial Black','Arial','Helvetica',sans-serif,-apple-system;
  line-height:1.1;
}
h6{
  font-family:'Thrillers Light','Arial','Helvetica',sans-serif,-apple-system;
  line-height:1.1;
  font-weight:400
}

a{
  color:#000
}
a:hover,a:focus{
  color:#28a87d
}
a img:hover,a img:focus{
  cursor:zoom-in
}

article{
  overflow-x:hidden
}

blockquote{
  font-family:'Input Sans','Arial','Helvetica',sans-serif,-apple-system;
  color:#414c48;
  font-size:17px;
  font-weight: 500;
  font-style: italic;
  line-height: 1.6em;
  margin:20px 0 20px
}
blockquote p{
  margin:0
}

small.img-hint{
  display:block;
  margin-top:-20px;
  text-align:center;
  color:grey;
}
br+small.img-hint{
  margin-top:-40px
}
img.shadow{
  box-shadow:rgba(0,0,0,.258824) 0 2px 5px 0
}

@media screen and (max-width:768px){
  select{
    -webkit-appearance:none;
    margin-top:15px;
    color:#208865;
    border-color:#208865;
    padding:0 .4em;
    background:#fff
  }
}
.table th,.table td{
  border:1px solid #eee!important
}
hr.small{
  max-width:100px;
  margin:15px auto;
  border-width:4px;
  border-color:#fff
}
pre,.table-responsive{
  -webkit-overflow-scrolling:touch
}
pre code{
  display:block;
  width:auto;
  white-space:pre;
  word-wrap:normal;
  font-weight:400;
  font-size:14.6px;
  font-family:'Input Mono Condensed','Menlo','Monaco','Consolas','Courier New','Courier',monospace,-apple-system;
}
.post-container a{
  color:#28a87d;
}
.post-container a:hover,.post-container a:focus{
  color:#34cf9b;
  font-weight:plain;
}
.post-container h1,.post-container h2,.post-container h3,.post-container h4,.post-container h5,.post-container h6{
  margin:30px 0 10px;
}
.post-container h5{
  font-size:28px;
  font-weight:400;
  color:gray;
}
.post-container h5+p{
  margin-top:5px;
}
.post-container h6{
  font-size:16px;
  font-weight:500;
  color:gray;
}
.post-container h6+p{
  margin-top:5px;
}
.post-container ul,.post-container ol{
  margin-bottom:40px;
}

@media screen and (max-width:768px){
  .post-container ul,.post-container ol{padding-left:30px}
}

@media screen and (max-width:500px){
  .post-container ul,.post-container ol{padding-left:20px}
}

.post-container ol ol,.post-container ol ul,.post-container ul ol,.post-container ul ul{
  margin-bottom:5px;
}
.post-container li p{
  line-height:1.3;
  margin:0;
  margin-bottom:12px;
}
.post-container li h1,.post-container li h2,.post-container li h3,.post-container li h4,.post-container li h5,.post-container li h6{
  line-height:2;
  margin-top:20px;
}

@media only screen and (max-width:767px){
  .navbar-default .navbar-collapse{
    border:none;
    background:#fff;
    box-shadow:0 5px 10px 2px rgba(0,0,0,.2);
    box-shadow:rgba(0,0,0,.117647) 0 1px 6px,rgba(0,0,0,.239216) 0 1px 4px;
    border-radius:2px;
    width:170px;
    float:right;
    margin:0;
  }
  #huxblog_navbar {
    opacity:0;
    transform:scaleX(0);
    transform-origin:top right;
    transition:all .25s cubic-bezier(0.23,1,.32,1);
    -webkit-transform:scaleX(0);
    -webkit-transform-origin:top right;
    -webkit-transition:all .25s cubic-bezier(0.23,1,.32,1);
  }
  #huxblog_navbar a{
    font-size:24px;
    line-height:12px
    font-weight:400;
  }
  #huxblog_navbar .navbar-collapse{
    height:0;
    transform:scaleY(0);
    transform-origin:top right;
    transition:transform 500ms cubic-bezier(0.23,1,.32,1);
    -webkit-transform:scaleY(0);
    -webkit-transform-origin:top right;
    -webkit-transition:-webkit-transform 500ms cubic-bezier(0.23,1,.32,1);
  }
  #huxblog_navbar li{
    opacity:0;
    transition:opacity 450ms cubic-bezier(0.23,1,.32,1) 205ms;
    -webkit-transition:opacity 450ms cubic-bezier(0.23,1,.32,1) 205ms;
  }
  #huxblog_navbar.in{
    transform:scaleX(1);
    -webkit-transform:scaleX(1);
    opacity:1;
  }
  #huxblog_navbar.in .navbar-collapse{
    transform:scaleY(1);
    -webkit-transform:scaleY(1);
  }
  #huxblog_navbar.in li{
    opacity:1;
  }
}

.navbar-custom{
  background:0 0;
  border:none;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  z-index:3;
  font-family:'Thrillers Regular','Arial Black',sans-serif,-apple-system;
  line-height:1.9;
  font-weight:400;
}
.navbar-custom .navbar-brand{
  font-weight:400;
  color:#fff;
  height:56px;
  line-height:25px;
  font-size:28px;
  text-transform:uppercase;
}
.navbar-custom .navbar-brand:hover{
  color:rgba(255,255,255,.8);
}
.navbar-custom .nav li a{
  font-size:28px;
  line-height:32px;
  font-weight:400;
  letter-spacing:1px;
  text-transform:uppercase;
}
.navbar-custom .nav li a:active{
  background:rgba(0,0,0,.12);
}

@media only screen and (min-width:768px){
  .navbar-custom{
    background:0 0;
    border-bottom:1px solid transparent;
  }
  .navbar-custom body{
    font-size:1.6rem;
  }
  .navbar-custom .navbar-brand{
    color:#fff;
    padding:20px;
    line-height:20px;
  }
  .navbar-custom .navbar-brand:hover,.navbar-custom .navbar-brand:focus{
    color:rgba(40,168,125, 0.8);
  }
  .navbar-custom .nav li a{
    color:#fff;
    padding:12px;
  }
  .navbar-custom .nav li a:hover,.navbar-custom .nav li a:focus{
    color:rgba(40,168,125, 0.8);
  }
  .navbar-custom .nav li a:active{
    background:0 0;
  }
}

@media only screen and (min-width:1170px){
  .navbar-custom{
    -webkit-transition:background-color .3s;
    -moz-transition:background-color .3s;
    transition:background-color .3s;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
  }
  .navbar-custom.is-fixed{
    position:fixed;
    top:-61px;
    background-color:rgba(255,255,255,.9);
    border-bottom:1px solid #f2f2f2;
    -webkit-transition:-webkit-transform .3s;
    -moz-transition:-moz-transform .3s;
    transition:transform .3s;
  }
  .navbar-custom.is-fixed .navbar-brand{
    color:#404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,.navbar-custom.is-fixed .navbar-brand:focus{
    color:#28a87d;
  }
  .navbar-custom.is-fixed .nav li a{
    color:#404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,.navbar-custom.is-fixed .nav li a:focus{
    color:#28a87d;
  }
  .navbar-custom.is-visible{
    -webkit-transform:translate3d(0,100%,0);
    -moz-transform:translate3d(0,100%,0);
    -ms-transform:translate3d(0,100%,0);
    -o-transform:translate3d(0,100%,0);
    transform:translate3d(0,100%,0);
  }
}

.intro-header{
  background:no-repeat center center;
  background-color:white;
  background-attachment:scroll;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  background-size:cover;
  -o-background-size:cover;
  margin-bottom:0;
}

@media only screen and (min-width:768px){
  .intro-header{
    margin-bottom:10px;
  }
}

.intro-header .site-heading,.intro-header .post-heading,.intro-header .page-heading{
  padding:85px 0 25px;
  color:#fff;
}

.intro-header .site-heading{
  text-shadow: 3px 5px #00000040;
}

@media only screen and (min-width:768px){
  .intro-header .site-heading,.intro-header .post-heading,.intro-header .page-heading{
    padding:150px 0;
  }
}

.intro-header .site-heading{
  padding:95px 0 70px;
}

@media only screen and (min-width:768px){
  .intro-header .site-heading{
    padding:150px 0;
  }
}

.intro-header .site-heading,.intro-header .page-heading{
  text-align:center;
}
.intro-header .site-heading h1,.intro-header .page-heading h1{
  margin-top:0;
  font-size:4.8rem;
  line-height:.9;
  letter-spacing:1.25px;
}
.intro-header .site-heading .subheading{
  font-family:'Cabinet Grotesk','Georgia','Times New Roman','Times','Times-Roman',serif,-apple-system;
  font-size:1.75rem;
  line-height:1.1;
  display:block;
  font-weight:900;
  margin:5px 0 30px;
  text-shadow: 1.8px 2.8px #00000040;
}

@media only screen and (min-width:768px){
  .intro-header .site-heading h1,.intro-header .page-heading h1{
    font-size:9.3rem;
    letter-spacing:1.25px;
  }
  .intro-header .site-heading .subheading{
    font-size:2.7rem;
  }
}

.intro-header .post-heading h1{
  font-size:4.2rem;
  margin-bottom:2.4rem;
}
.intro-header .post-heading .subheading{
  line-height:1.1;
  display:block;
}
.intro-header .post-heading .meta{
  font-family:'Cabinet Grotesk','Arial','Helvetica',sans-serif;
  font-weight:600;
  font-size:1.4rem;
}
.intro-header .post-heading .meta a{
  color:#fff;
}

@media only screen and (min-width:768px){
  .intro-header .post-heading h1{
    font-size:5.5rem;
  }
  .intro-header .post-heading .subheading{
    font-size:2.7rem;
  }
  .intro-header .post-heading .meta{
    font-size:1.8rem;
  }
.button {
  border: none;
  color: 'red';
  background-color: #676767;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  margin: 4px 2px;
  cursor: pointer;
}
}

.post-preview>a{
  color:#404040;
}
.post-preview>a:hover,.post-preview>a:focus{
  text-decoration:none;
  color:#28a87d;
}
.post-preview>a>.post-title{
  font-size:2.8rem;
  line-height:1.1;
  margin-top:3rem;
  margin-bottom:.7rem;
}
.post-preview>a>.post-subtitle{
  font-size:1.5rem;
  line-height:1.3;
  margin:0;
  font-weight:400;
  margin-top:.5rem;
  margin-bottom:1rem;
}
.post-preview>.post-meta{
  font-family:'Cabinet Grotesk','Arial', sans-serif;
  color:#28a87d;
  font-size:1.45rem;
  font-weight:600;
  margin-top:.5em;
}
.post-preview>.post-meta>a{
  text-decoration:none;
  color:#404040;
}
.post-preview>.post-meta>a:hover,.post-preview>.post-meta>a:focus{
  color:#28a87d;
  text-decoration:underline;
}

@media only screen and (min-width:768px){
  .post-preview>a>.post-title{
    font-family:'Thrillers SemiBold','Arial';
    font-size:3.4rem;
    line-height:1.1;
    margin-bottom:1.2rem;
  }
  .post-preview>a>.post-subtitle{
    font-size:1.6rem;
  }
  .post-preview .post-meta{
    font-size:1.45rem;
    line-height:1.7;
  }
}

.post-content-preview{
  font-size:1.85rem;
  font-style:plain;
  line-height:1.6;
  font-weight:400;
  color:#787878;
}
.post-content-preview:hover{
  color:#208865;
}

@media only screen and (min-width:768px){
  .post-content-preview{
    font-size:1.65rem;
  }
}

.section-heading{
  font-size:3.6rem;
  margin-top:6rem;
  font-weight:700;
}
.caption{
  text-align:center;
  font-size:1.4rem;
  padding:1rem;
  font-style:italic;
  margin:0;
  display:block;
  border-bottom-right-radius:.5rem;
  border-bottom-left-radius:.5rem;
}
footer{
  font-size:1.6rem;
  padding:3rem 0 6.5rem;
}
footer .list-inline{
  margin:0;
  padding:0;
}
footer .copyright{
  font-size:1.2rem;
  text-align:center;
  margin-bottom:0;
}
footer .copyright a{
  color:#208865;
}
footer .copyright a:hover,footer .copyright a:focus{
  color:#28a87d;
}
.floating-label-form-group{
  font-size:1.4rem;
  position:relative;
  margin-bottom:0;
  padding-bottom:.5rem;
  border-bottom:1px solid #eee;
}
.floating-label-form-group input,.floating-label-form-group textarea{
  z-index:1;
  position:relative;
  padding-right:0;
  padding-left:0;
  border:none;
  border-radius:0;
  font-size:1.5rem;
  background:0 0;
  box-shadow:none!important;
  resize:none;
}
.floating-label-form-group label{
  display:block;
  z-index:0;
  position:relative;
  top:2rem;margin:0;
  font-size:.85rem;
  line-height:1.764705882em;
  vertical-align:middle;
  vertical-align:baseline;
  opacity:0;
  -webkit-transition:top .3s ease,opacity .3s ease;
  -moz-transition:top .3s ease,opacity .3s ease;
  -ms-transition:top .3s ease,opacity .3s ease;
  transition:top .3s ease,opacity .3s ease;
}
.floating-label-form-group::not(:first-child){
  padding-left:1.4rem;
  border-left:.1rem solid #eee;
}
.floating-label-form-group-with-value label{
  top:0;
  opacity:1;
}
.floating-label-form-group-with-focus label{
  color:#28a87d;
}
form .row:first-child .floating-label-form-group{
  border-top:.1rem solid #eee;
}
.btn{
  font-family:'Thrillers Black','Arial', sans-serif,-apple-system;
  line-height:1.7;
  text-transform:uppercase;
  font-size:1.4rem;
  font-weight:400;
  letter-spacing:1px;
  border-radius:0;
  padding:15px 25px;
}
.btn-lg{
  font-size:16px;
  padding:25px 35px;
}
.btn-default:hover,.btn-default:focus{
  background-color:#28a87d;
  border:1px solid #28a87d;
  color:#fff;
}
.pager{
  margin:2rem 0 0!important;padding:0!important}
.pager li>a,.pager li>span{
  font-family:'Thrillers SemiBold','Arial',sans-serif,-apple-system;
  line-height:1.7;
  text-transform:uppercase;
  font-size:1.8rem;
  font-weight:400;
  letter-spacing:.1rem;
  padding:1rem 2rem .8rem 2rem;
  background-color:#fff;
  border-radius:0;
  margin-bottom:1rem;
}

@media only screen and (min-width:768px){
  .pager li>a,.pager li>span{
    font-size:1.8rem;
  }
}

.pager li>a{
color:gray;
}
.pager li>a:hover,.pager li>a:focus{
  color:#fff;
  background-color:#28a87d;
  border:1px solid #28a87d;
}
.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span{
  color:gray;
  background-color:#404040;
  cursor:not-allowed;
}
::-moz-selection{
  color:#fff;
  text-shadow:none;
  background:#28a87d;
}
::selection{
  color:#fff;
  text-shadow:none;
  background:#28a87d;
}
img::selection{
  color:#fff;
  background:0 0;
}
img::-moz-selection{
  color:#fff;
  background:0 0;
}
body{
  webkit-tap-highlight-color:#28a87d;
}
.tags{
  margin-right:.1rem;
  margin-bottom:.3rem;
}
.tags a,.tags .tag{
  display:inline-block;
  border:1.2px solid rgba(255,255,255,.8);
  border-radius:999em;
  padding:.2rem .8rem .1rem;
  font-family:'Cabinet Grotesk','Arial',sans-serif,-apple-system;
  color:#fff;
  line-height:1.6;
  font-size:1.2rem;
  font-weight:500;
  text-decoration:none;
  text-transform: uppercase;
  margin:.3rem .3rem;
}
.tags a:hover,.tags .tag:hover,.tags a:active,.tags .tag:active{
  color:#fff;
  border-color:#fff;
  background-color:rgba(255,255,255,.4);
  text-decoration:none;
}

@media only screen and (min-width:768px){
  .tags a,.tags .tag{
    font-size:1.2rem;
    margin-right:.3rem;
    margin-bottom:.3rem;
  }
}

#tag-heading{
  padding:7rem 0 6rem;
}

@media only screen and (min-width:768px){
  #tag-heading{
    padding:5.5rem 0;
  }
}

#tag_cloud{
  margin:2rem 0 1.5rem 0;
}
#tag_cloud a,#tag_cloud .tag{
  font-size:1.5rem;
  border:none;
  line-height:2.2;
  margin:0 .2rem;
  margin-bottom:.8rem;
  background:#D6D6D6;
}
#tag_cloud a:hover,#tag_cloud .tag:hover,#tag_cloud a:active,#tag_cloud .tag:active{
  background-color:#28a87d!important;
}

@media only screen and (min-width:768px){
  #tag_cloud{
    margin-bottom:2.5rem;
  }
}

.tag-comments{
  font-size:1.2rem;
}

@media only screen and (min-width:768px){
  .tag-comments{
    font-size:1.4rem;
  }
}

.t:first-child{
  margin-top:0;
}
.listing-seperator{
  color:#28a87d;
  font-size:2.1rem!important;
}
.listing-seperator::before{
  margin-right:.5rem;
}

@media only screen and (min-width:768px){
  .listing-seperator{
    font-size:2rem!important;
    line-height:.2rem!important;
  }
}

.one-tag-list .tag-text{
  font-weight:300;
  font-family:'Thrillers Black','Arial', sans-serif,-apple-system;
  line-height:1.7;
}
.one-tag-list .post-preview{
  position:relative;
}
.one-tag-list .post-preview>a .post-title{
  font-size:1.7rem;
  font-weight:500;
  line-height:1.3;
  margin-top:2rem;
}
.one-tag-list .post-preview>a .post-subtitle{
  font-size:1.2rem;
}
.one-tag-list .post-preview>.post-meta{
  position:absolute;
  right:.5rem;
  bottom:0;
  margin:0;
  font-size:1.3rem;
  line-height:1.2;
}

@media only screen and (min-width:768px){
  .one-tag-list .post-preview{
    margin-left:2rem;
  }
  .one-tag-list .post-preview>a .post-title{
    font-size:1.9rem;
  }
  .one-tag-list .post-preview>a>.post-subtitle{
    font-size:1.4rem;
  }
  .one-tag-list .post-preview .post-meta{
    font-size:1.6rem;
  }
}

.post-container img{
  display:block;
  max-width:100%;
  height:auto;
  margin:1.5rem auto 1.6rem auto;
}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
  background-color:inherit;
}
.navbar-default .navbar-toggle:active{
  color:rgba(40,168,125, 0.8);
  background-color:rgba(40,168,125, 0.8);
}
.navbar-default .navbar-toggle{
  border-color:transparent;
  padding:1.9rem 1.6rem;
  margin-top:.12rem;
  margin-right:.2rem;
  margin-bottom:.2rem;
  border-radius:50%;
}
.navbar-default .navbar-toggle .icon-bar{
  width:1.8rem;
  border-radius:0;
  background-color:#fff;
}
.navbar-default .navbar-toggle .icon-bar+.icon-bar{
  margin-top:.3rem;
}
.comment{
  margin-top:2rem;
}
.comment #ds-thread #ds-reset a.ds-like-thread-button{
  border:.1rem solid #ddd;
  border-radius:0;
  background:#fff;
  box-shadow:none;
  text-shadow:none;
}
.comment #ds-thread #ds-reset li.ds-tab a.ds-current{
  border:.1rem solid #ddd;
  border-radius:0;
  background:#fff;
  box-shadow:none;
  text-shadow:none;
}
.comment #ds-thread #ds-reset .ds-textarea-wrapper{
  background:0 0;
}
.comment #ds-thread #ds-reset .ds-gradient-bg{
  background:0 0;
}
#ds-smilies-tooltip ul.ds-smilies-tabs li a{
  background:#fff!important;
}
.page-fullscreen .intro-header{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
}
.page-fullscreen #tag-heading{
  position:fixed;
  left:0;
  top:0;
  padding-bottom:15rem;
  width:100%;height:100%;
  display:-webkit-box;-webkit-box-orient:vertical;
  -webkit-box-pack:center;
  -webkit-box-align:center;
  display:-webkit-flex;
  -webkit-align-items:center;
  -webkit-justify-content:center;
  -webkit-flex-direction:column;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
}
.page-fullscreen footer{
  position:absolute;
  width:100%;
  bottom:0;
  padding-bottom:2rem;
  opacity:.6;
  color:#fff;
}
.page-fullscreen footer .copyright{
  color:#fff;
}
.page-fullscreen footer .copyright a{
  color:#fff;
}
.page-fullscreen footer .copyright a:hover{
  color:#ddd;
}

.gallery {
  margin: 2.25em auto;
}

.gallery-item {
  display: inline-block;
  padding: 0.75em;
  text-align: center;
  vertical-align: top;
  width: 100%;
  margin: 0;
}
.gallery-item img {
  max-width: 100%;
  max-height: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-icon img {
  margin: 0 auto;
}

.gallery-caption {
  color: #8c8c8c;
  display: block;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 12px;
  padding: 0.5em 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* Jetpack Galleries */
.tiled-gallery {
  margin: 2.25em auto !important;
}
.tiled-gallery .gallery-row {
  margin: 0 auto;
}