a, a > code {
  color: 28a87d;
  font-weight: bold;
  text-decoration: none;
}
.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 90%;
}
.remark-code-line-highlighted     { background-color: ffec89}

.inverse {
  background-color: #272822;
  color: #d6d6d6;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2, .inverse h3 {
  color: #f3f3f3;
}
/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 50%;
}
.pull-right {
  float: right;
  width: 50%;
}
.pull-right ~ * {
  clear: both;
}
img, video, iframe {
  max-width: 100%;
}
h1 {
  font-family: montserrat;
  font-size: 30pt;
  font-weight: bold;
  line-height: 1.05;
}

h2 {
  font-family: montserrat;
  font-size: 18pt;
  font-weight: bold;
  line-height: 1;
}

h3 {
  font-family: montserrat;
  font-size: 18pt;
  font-weight: bold;
  line-height: 1;
}
body {
  font-family: oswald;
  font-size: 13pt;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}
table, th, td  {
  text-align: left;
  line-height: 1.8;
  vertical-align: middle;
  border-collapse: collapse;
}
a:link, a:visited {
  color: #28a87d;
}
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide-number {
  position: inherit;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}
.remark-slide-number .progress-bar {
  height: 100%;
  background-color: #baa745;
}
.remark-inline-code { 
  color: #28a87d;
  font-weight: bold;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }
@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
